* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://img.buzzfeed.com/buzzfeed-static/static/2018-08/24/16/asset/buzzfeed-prod-web-01/sub-buzz-25080-1535141087-1.jpg?downsize=1040%3A%2A&output-quality=auto&output-format=auto);
  background-size: 330px 440px;
}
img {
  width: 300px;
  height: 400px;
}
