body {
    background: url(https://e0.pxfuel.com/wallpapers/191/1012/desktop-wallpaper-behold-the-cover-to-rhythm-of-war-the-fourth-book-in-brandon-sanderson-s-stormlight-archive.jpg);
    background-size: initial;
}

.container{
    /*width: 600px;
    height: 600px;
    background-color: rgba(0, 255, 255, 0.452);*/
    .photoCard {
        width: 230px;
        height: 290px;
        background-color: rgba(0, 255, 76, 0.364);
        .photoBooth {
            margin: 20px;
            padding-top: 30px;
            img {
            width: 180px;
            height: 200px;
            //padding: 20px;
            //margin: 20px;
            }
            button {
                width: 180px;
                height: 30px;
            }  
        }
    }
}