* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  background: url(https://i.etsystatic.com/19269381/r/il/bed24d/1982624883/il_1080xN.1982624883_pyd0.jpg);
  background-size: 700px 500px;
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var();
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: blue;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: pink;
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: green;
}

#new-task-submit {
  color: purple;
  font-size: 2.25rem;
  font-weight: 700;
  background-image: yellow;
}
